<%- include('../partials/header') %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    image gallery goes here!

    <ul>
        <% entries.forEach(function(entry) { %>
            <li>

                <a href="/entries/<%= entry.id %>">
                    <%= entry.image %>
                    <%= entry.title %>
                </a>
            </li>

            <% if (user) { %>
                <form action="/entries/<%= entry.id %>?_method=DELETE" method="POST">
                    <button type="submit">X</button>
                </form>         
                <% } %>
            <% }); %>
    </ul>


<%- include('../partials/footer') %>