<%- include('../partials/header') %>

    <h1><%= title %></h1>
<div class="gallery">

    <% entries.forEach(function(entry) { %>
        
        <a href="/entries/<%= entry.id %>">
            <img id="image-thumb" src="<%= entry.image %>" title="<%= entry.title %>">
        </a>
        
        
        <% }); %>
    </div>


<%- include('../partials/footer') %>