<%- include('../partials/header.ejs') %>

<h3>
    <%= entry.title %>
</h3>

<section id="show-page">
    <div><%= entry.image %> - </div>
 
    <div>Date: </div>
    <div><%= entry.date %></div>
    <div>Description: </div>
    <div><%= entry.description %></div>
    <hr>
    <div>By: </div>
    <div><%= entry.userName %></div>
    <div><img src="<%= entry.userAvatar %>" alt=""></div>
 
  </section>

<a href="/entries/<%= entry.id %>/edit">
  <img src="./../../images/edit.png" alt="edit post" title="edit post"></a>
<hr>


<form action="/entries/<%=entry._id%>/comments" method="POST">
<label>Comment:</label>
<br>
<textarea name="content"></textarea>
<br>
<button type="submit" id="btn-img"><img src="./../../images/comment.png" title="add comment" alt="new comment">
</button>
</form>
<br>
<hr>

<%- include('../partials/footer.ejs') %>
