<%- include('../partials/header.ejs') %>

<section id="show-page">
  <h1>> <%= entry.title %>.png</h1>

  <div><img id="image-show" src="<%= entry.image %>" /></div>
  <br />
  <div>Description:</div>
  <div>> <%= entry.description %></div>
  <br />
  <div>Date:</div>
  <div>> <%= entry.createdAt %></div>
  <br />
  <div>By:</div>
  <div>> <%= entry.user.name %></div>
</section>
<br />
<% if (user) { %>
<div id="edit-delete-buttons">
  <a href="/entries/<%= entry.id %>/edit" id="btn-img">
    <img src="./../../images/edit.png" alt="edit post" title="edit post"
  /></a>

  <form action="/entries/<%= entry.id %>?_method=DELETE" method="POST">
    <button id="btn-img" type="submit">
      <img src="./../../images/delete.png" alt="delete post" title="delete" />
    </button>
  </form>
</div>

<div>
  <hr />
  <hr />
</div>

<form action="/entries/<%=entry._id%>/comments" method="POST">
  <label>Comment:</label>
  <br />
  <textarea name="content"></textarea>
  <br />
  <button type="submit" id="btn-img">
    <img
      src="./../../images/comment.png"
      title="add comment"
      alt="new comment"
    />
  </button>
</form>
<div>
  <hr />
  <hr />
</div>

<% } %> <% if (comments.length) { %>
<table class="table">
  <thead>
    <tr>
      <th><h2>Comments</h2></th>
      <th>From</th>
    </tr>
  </thead>
  <tbody>
    <% comments.forEach(function(c) { %>
    <tr>
      <td>> <%= c.content %></td>
      <td>
        <img id="tiny" src="<%= c.user.avatar %>" title="<%= c.user.name %>" />
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>

<% } else { %>
<h5>No comments Yet</h5>
<% } %>

<br />

<%- include('../partials/footer.ejs') %>
